:root
{
  --ion-color-secondary-tint: #50c8ff;
}
.img
{
  background-color: #0366b6;
  background: url('https://images.pexels.com/photos/7276788/pexels-photo-7276788.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center;
  background-size: cover;
}
.altura_max
{
  height: 100vh;
  overflow: hidden;
}
.form
{
  margin: auto;
}
.button_class
{
  --border-radius: 15px;
  transition: .7s linear all;
}
.button_class:hover
{
  transform: scale(1.05);
}
h1
{
  font-size: 4em;
}
