.calendario {
  background-color: rgb(178, 205, 230);

  &__foto {
    border: 5px solid rgb(14, 34, 90);
    border-radius: 40px;
  }

  &__mes {
    font-size: 1.6rem;
    color: rgb(13, 19, 78);
  }

  &__ano {
    font-weight: 700;
    color: rgb(13, 19, 78);
  }

  &__dia-semana {
    color: #2f6d55;
    font-weight: 600;
  }

  &__dia {
    font-weight: 500;
  }

  .ion-col-dia{
    transition: .7s;
  }
  .ion-col-dia:hover{
    background:rgb(47, 109, 85);
    transition: .7s;
  }
}

.toolbar {
  --background: rgb(47, 109, 85);
}
.title{
  color:white;
}